.search-component-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-component-container .row {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.select-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin-right: 1rem;
    /* top | right | bottom | left */
    padding: 0 5px 0 0;
    color: #d5d5d5;
}

.select-box {
    width: fit-content;
    border: none;
    border-radius: 5px;
    /* appearance: none; */
    color: #d5d5d5;
    background-color: #1D1D2A;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

.search-component-container .fa-caret-down {
    position: absolute;
    top: 0;
    right: 2vh;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.list-items {
    padding: 0;
    display: flex;
    width: 100%;
}

.list-items .item {
    list-style: none;
    width: 100%;
    display: flex;
}

.item .item-text {
    font-size: 15px;
}

.multiselect-container.multiSelectContainer  {
    padding: 0;
}
.searchWrapper{
    padding: 0;
    border: none;
    width: 130px;
}

input#search_input.searchBox{
    width: 130px;
    cursor: pointer;
}

input#search_input.searchBox::placeholder{
    padding-left: 10px;
    padding-right: 10px;
    color: #d5d5d5;
}

li.option {
    font-size: 15px;
    background-color: #1D1D2A;
    color: #d5d5d5;
}

.icon_down_dir:before {
    position: absolute;
    right: -6px;
    content: "";
    width: 60px;
    height: 37.5px;
}

/* .checkbox {
    min-width: 10px;
    min-height: 10px; 
    display: flex;
    flex-direction: column;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: 1px solid #d5d5d5;
    background-color: #1D1D2A;
    border-radius:12%;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #d5d5d5;
}

.checkbox:checked::before {
    position: absolute;
    top:3rem;
    width: 1px;
    height: 1px;
    content:"\2713";
    color: #1D1D2A;
    padding: 0;
    margin: 0;
    padding: initial;
    font-weight: bold; 
} */

.input-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    padding: 0;
    position: relative;
}

.search-input {
    width: 280px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 17px;
    color: #d5d5d5;
    background-color: #1D1D2A;
    padding: 0 0 0 5px;
    outline: none;
}

.icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: fit-content;
    color: #d5d5d5;
    border: none;
    margin: 0;
    background-color: #1D1D2A;
}

.icon:active {
    box-shadow: none;
    transform: none;
}

.icon:active::after {
    opacity: 0;
    animation: none;
}

/* media queries */

@media (min-width: 1367px) {
    .select-box {
        font-size: 25px;
    }
    
    .search-component-container .fa-caret-down {
        right: 1vw;
        font-size: 25px;
    }

    .search-input {
        width: 400px;
        font-size: 25px;
    }

    .icon {
        height: fit-content;
        font-size: 25px;
    }
    .searchWrapper{
        padding: 0;
        border: none;
        width: 155px;
    }
    
    input#search_input.searchBox{
        width: 155px;
        cursor: pointer;
    }
}

@media (max-width: 991px) {
    .input-container {
        /* margin-top: 1rem; */
    }
}

@media (max-width: 730px) {
    .search-component-container {
        justify-content: center;
    }

    .search-component-container .row {
        display: grid; 

        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 150px 150px;
        
        gap: 0px 0px;
        
    }

    .search-component-container .row .input-container {
        min-width: 100%;

        grid-row-start: 3;
        grid-column-start: 1;
     
        grid-row-end: 3;
        grid-column-end: 3;
    }
}