.homeInfo{
    background-image: url('../../../../components/homePageComponents/homeImages/Vector.png');
    margin: 0 0 0 0;
    min-width: 100%;
    padding: 100px 0 0 0;
    border-top:  2px #4ADBC8 solid;
}
.homeInfo__headline{
    color: #D5D5D5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 70px;
    font-weight: 600;
}

.homeInfo__headline_turquoiseHeadline{
    color: #4ADBC8;
    margin: 0 10px;
}

.homeInfo__forCreateMapButton{
    display: flex;
    justify-content: center;
    margin: 50px 0 120px 0;
    padding: 0 0 0 0;
}

.homeInfo__info{
    background-color: #D5D5D5;
    border-top: 4px #4ADBC8 solid;
    border-right: 4px #4ADBC8 solid;
    border-left: 4px #4ADBC8 solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 1620px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px;
    padding: 20px 0;
}

.homeInfo__info_context{
    min-height: 300px;
    padding: 20px 60px;
}
.homeInfo__info_context_text{
    color: #1D1D2A;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.homeInfo__info_context_maps{
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeInfo__info_context_maps .btn{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0 15px;
  color: #5CAB7D;
  font-size: 15px;
  height: 40px;
  width: 130px;
}
.homeInfo__info_context_miniMaps{
  display: inline;
}
.homeInfo__info_context_maps_angle {
  position: absolute;
  color: #1D1D2A;
  font-size: 50px;
  font-weight: 600;
  width: 32px;
  top: 20%;
  cursor: pointer;
  z-index: 10;
}

.homeInfo__info_context_maps_angle.right-arrow {
  right: 0;
}

.homeInfo__info_context_maps_angle.left-arrow {
  left: 0;
}

@media (max-width: 1360px){
    .homeInfo__info_context_maps{
        flex-wrap: wrap;
    }
    .homeInfo__info_context_maps > * {
        flex-basis: calc(50% - 20px); /* Adjust the flex-basis to keep the card size the same */
        box-sizing: border-box; /* Include padding and border in the width calculation */
        margin-bottom: 20px;
    }

    .fa-angle-left {
        left: -2rem;
    }
}

@media (max-width: 840px){
    .homeInfo__info_context_maps{
        display: flex;
        justify-content: center;
    }
}