.description-slide{
    margin-top: 125px;
    margin-bottom: 125px;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 97%;

}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  
}

.glass-border{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  width:100%;
  -webkit-backdrop-filter: blur(5px);
  border:1px solid #75d04ab5;
  box-shadow: 0 8px 32px 0 rgba(112, 111, 111, 0.37);
  padding: 30px 40px;
}

.description-text{
    width: 50%;
    height: 100%;
    padding: 20px;
    font-family: Lexend;
    color: #d5d5d5;
    text-align: justify;
    line-height: 2em;
}

.description-text p{
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 60px;
}

.simple-link {
  position: absolute;
  bottom: 35px;
  left: 55px;
  text-decoration: none;
  color: #d5d5d5;
  font-weight: 600;
  border: 1px solid #d5d5d5;
  padding: 10px 30px;
  font-size: 26px;
}

.simple-link:hover{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border:1px solid #d5d5d5;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: 0.3s;
}



.simple-link:active{
  transform: scale(0.95);
}

.description-text strong{
  font-weight: 600;
}

.description-image{
  width: 50%;
  height: 100%;
  text-align: end;
  border-left: 2px solid #383838;

}

#desc-img{
    width: 100%;
    object-fit: fill;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


@media (max-width: 1536px) {
    .description-text{
        font-size: 36px;
      line-height: 1.6em;

    }
  }

  @media (max-width: 1300px) {
    .description-text{
        font-size: 24px;
        line-height: 1.6em;
        
    }
  }

  @media (max-width: 1200px) {
    .description-text{
        font-size: 18px;
        text-align: start;
        line-height: 1.8em;

    }
  }

  @media (max-width: 990px) {
    .description-text{
        font-size: 17px;
        line-height: 3rem;
        text-align: center;
        width: 100%;
    }
    .description-image{
        width: 100%;
        border:none;
        padding-top: 5px;
        border-top: 2px solid #383838;
    }
    #desc-img{
        width: 100%;
    }
    .full-width{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .simple-link {
      position: relative;
      text-align: center;
      text-decoration: none;
      color: #d5d5d5;
      font-weight: 600;
      border: 1px solid #d5d5d5;
      padding: 10px 30px;
      margin-right: 95px;
    }
    
  }
  
  