.description {
    height: max-content;
    margin: 0;
    padding: 4vh 4.23vw;
}
.description__content{
    text-align: justify;
    text-justify: inter-word; 
    color: #FFF;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
}
.description__long__text{
    color: #FFF;
    font-size: 2.34vw;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 0;
    display: inline-block;
    transition: height 0.3s ease;
}
.description__long__text.expanded {
    height: auto; /* Allow the text to expand */
}
.description__button{
    color: #7AE5D7;
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    display: flex;
    justify-content: center;
    width: 100%;
}
.description__image{
    background-image: url('./images/imageRoadmap.jpg');
    height: 121.9vh;
    width: 100%;
    background-size: 100% 100%;
    object-fit: cover;
}

.description__coment{
    margin-top: 5.5vh;
}

.description__coment__text{
    color: #FFF;
    text-align: center;
    font-size: 2.1vw;
    font-style: normal;
    font-weight: 700;  
    display: flex;
}

.description__coment__boxForComment {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid #D5D5D5;
    background: #1D1D2A;
    padding: 8px;
    margin: 0 0 3vh 0;
  }
  
  .description__coment__boxForComment__input {
    flex: 1;
    background: transparent;
    border-color: transparent;
    font-size: 3.2vh;
    padding-top: 8px;
    color: #FFF;
    height: 12vh;
    text-align: flex-start;
    margin-right: 8px; /* Adjust the margin as needed */
    outline: none;
  }
  .description__coment__boxForComment__buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .description__coment__boxForComment__input::placeholder {
    color: #7AE5D7; /* Change the color of the placeholder */
  }
  
  .description__coment__boxForComment__button {
    background: #7AE5D7;
    border: none;
    color: #1D1D2A;
    padding: 8px 16px;
    cursor: pointer;
  }
/*------------------------------------*/
.related-maps {
  margin-top: 1rem;
}

.related-maps span {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.related-maps span {
  font-size: 2vw;
  margin: 0 1vw 1vh 0;
  color: #FFF;
  font-weight: 600;
}

.related-maps-list {
  display: flex;
}

.related-maps-list .roadmapCard {
  margin: 0 0 2vh 0;
  background-size: 100% 100%;
  object-fit: cover;
}

.related-maps-list .roadmapCard:nth-child(2) {
  margin: 0 1vw 2vh 1vw;
}

.related-maps-list .roadmapCard .roadmapCard__name {
  color: white;
  font-size: 1.6vw;
  font-weight: 600;
}

.related-maps-list .roadmapCard__moreInfo {
  width: 100%;
}

.related-maps-list .roadmapCard__moreInfo .btn {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0px 15px;
  color: rgb(92, 171, 125);
  font-size: 1vw;
  height: 3.05vw;
  width: 8vw;
}

.related-maps-list .roadmapCard__moreInfo_rating_union {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: #FFF170;
  font-size: 1.8vw;
  filter: drop-shadow(0 12px 10px rgba(0,0,0,.5));
}

.related-maps-list .roadmapCard__moreInfo_rating_number {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #FFF170;
  font-size: 1.6vw;
  font-weight: 700;
  filter: drop-shadow(0 12px 10px rgba(0,0,0,.5));
  margin-right: 5px;
}
/*-------------------------------------*/

@media (min-width: 640px) {
  .related-maps-list .roadmapCard {
    height: 10vw;
    width: 18.91vw;
    padding: 1.52vw;
  }
}

@media (max-width: 1100px) {
  .related-maps-list {
    flex-wrap: wrap;
  }
}