.wrapper {
  height: auto;
  color: #D5D5D5;
  background-color: #1D1D2A;
}

.footer {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  
  display: flex;
  flex-direction: column;
}

.footer h5 {
  font-weight: 700;
  color: #e7e7e7
}

.footer ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.footer li{
  margin-bottom: 10px;
}

.footer li a{
  text-decoration: none;
  color: #d5d5d5;
}

.footer li a:hover{
  text-decoration: underline;
}


.footer .copy {
  margin-top: auto;
  text-align: center;
}

.footer .copy hr{
  border-color: #d5d5d5;
  border-width: 2px;
}


.name-slogan{
  margin-bottom: 40px;
}

.gh {
  display:flex;
}

.gh i {
  margin-left: 5px;
  font-size: 26px;
}
