.roadmap-page.container{
    padding: 0 100px 0 100px; 
    min-width: 100%;
    color: black;
}
/*---------------------------------*/
.roadmap-page.container .row {
    margin-right: 0;
    margin-left: 0;
}

.roadmap-page.container .row > * {
    padding-right: 0;
    padding-left: 0;
}
/*--------------------------------*/

.roadmapHeader{
    background-blend-mode: darken;
    background-size: cover;
    min-width: 100%;
    height: max-content;
    height: 8;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

div.roadmap-page.container > div:nth-child(1) > div > div > div {
    height: 16.27vw;
}

.roadmap-page.container .row {
    display: flex;
    height: 100%;
}

.roadmapHeader {
    margin: 1rem 0 0 0;
    text-align: center;
    background-color: rgb(29, 29, 42);
    border-radius: 20px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-left: 0;
    padding-right: 0;
}

/*------------------------*/
.general {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.general .map__title {
    display: flex;
    justify-content: right;
    font-size: 4vw;
    font-weight: 600;
}

.general__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.general__info #btn-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
}

#btn-col .go-to-map__btn {
    color: #FFFFFF;
    background-color: #75D04A;
    height: fit-content;
    font-size: 3vw;
}

.general__info #author-date-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#author-date-col .author {
    font-size: 2vw;
    font-weight: 600;
}

#author-date-col .date {
    font-size: 1vw;
}
/*------------------------*/
.rate{
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rate__info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.rate__info__union{
    background: #FFF170;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4vw;
}
div.roadmap-page.container > div:nth-child(1) > div > div > div > div > div > div.rate.col-sm-5 > div.rate__info > i{
    display: flex;
    align-items: center;
}
div.roadmap-page.container > div:nth-child(1) > div > div > div > div > div > div.rate.col-sm-5{
    padding: 2.7vh 2.3vw 2.7vh 15.6vw;
}

.rate__info__text{
    color: #FFF170;
    text-align: center;
    font-size: 3.5vw; 
    font-style: normal;
    font-weight: 700;
}

.reviews{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.reviews__text{
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
}
.reviews__number{
    color: #FFF;
    text-align: center;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
}